<br>
<div class="container">


  <form>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Amount</label>
      <input type="number" class="form-control" min="0" max="999" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <label for="inputGroupSelect04" class="form-label">Mission type</label>
    <div class="input-group">
      <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
        <option value="null" selected>Pick a mission type...</option>
        <option value="{{mission.id}}" *ngFor="let mission of missionTypes">{{mission.type}}</option>
      </select>
    </div>
    <br>

    <label for="inputGroupSelect04" class="form-label">Mission location</label>
    <div class="input-group">
      <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
        <option value="null" selected>Pick a location...</option>
        <option value="{{location.id}}" *ngFor="let location of locations">{{location.name}}</option>
      </select>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
